---
title: "Developing next-generation telecommunications with GitLab"
author: Bryan Behrenshausen
author_gitlab: bbehr
author_twitter: 
categories: open source
image_title: '/images/blogimages/telecombastract.jpeg'
description: "Learn more about Project Sylva, a cross-industry collaboration to build a cloud-native, open source telecommunications platform using GitLab."
tags: open source, community, features
guest: false
twitter_text: "Learn more about Project Sylva, a cross-industry collaboration to build a cloud-native, open source telecommunications platform using GitLab."
featured: no
postType: oss-program
related_posts:
  - "/blog/2023/07/11/building-new-fedora-project-website-with-gitlab/"
  - "/blog/2023/05/30/major-league-gitlab-hacking/"
  - "/blog/2023/07/06/meet-partner-the-good-docs-project/"
---
In November 2022, the Linux Foundation Europe [announced the launch of Project Sylva](https://www.linuxfoundation.org/press/linux-foundation-europe-announces-project-sylva-to-create-open-source-telco-cloud-software-framework-to-complement-open-networking-momentum), a cloud-native, [open source](https://go.gitlab.com/spHNym) telecommunications software stack. The initiative represents a cross-industry collaboration between major telecommunications providers and vendors (Telefonica, Telecom Italia, Orange, Vodafone, Deutsche Telekom, Ericsson, and Nokia), who formally agreed to collaborate on building the foundation of a next-generation telecommunications system in the open.

Today that work continues [on GitLab](https://gitlab.com/sylva-projects), where the project is gaining momentum as its contributor community grows. Eager to hear what that community has achieved since last year, I sat down with [André Vieira](https://gitlab.com/andre.macedo.av), the project's communications lead. 

Watch our interview to learn more about Sylva's guiding mission and vision, its successes, its challenges, and its future.

## Watch the interview

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/mblgJpmvkZI" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->
